altgraph==0.17.2
astroid==2.4.2
backcall==0.2.0
certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.4
DAWG-Python==0.7.2
decorator==4.4.2
docopt==0.6.2
docxtpl==0.11.3
future==0.18.2
idna==3.2
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.18.0
Jinja2==2.11.3
joblib==1.1.0
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
parso==0.8.1
pefile==2021.9.3
pickleshare==0.7.5
prompt-toolkit==3.0.17
pycodestyle==2.6.0
pygame==2.1.0
Pygments==2.8.1
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pylint==2.6.0
python-dateutil==2.8.1
pywin32==300
pywin32-ctypes==0.2.0
pyzmq==22.0.3
requests==2.26.0
scikit-learn==1.0.1
scipy==1.7.3
six==1.15.0
threadpoolctl==3.0.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.7
wcwidth==0.2.5
wrapt==1.12.1
